<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Project one</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(name, index) in names"> 
                {{ name }}: {{ index }}
            </li>
        </ul>
        </hr>
        <ul>
            <li v-for="(car, index) in cars"> 
                {{ car.brand }}: {{ index }}
            </li>
        </ul>
        </hr>
        <ul>
            <li v-for="(value, key, index) in user"> 
               {{ index }} - {{ key }}: {{ value }}
            </li>
        </ul>
    </div>

    <script src="js/script.js"></script>
</body>
</html>